$neutral0: #FFFFFF;
$neutral100: #F3F4F4;
$neutral200: #DEE1E1;
$neutral300: #C8CCCC;
$neutral400: #B0B6B7;
$neutral500: #929A9B;
$neutral600: #6E797A;
$neutral700: #515E5F;
$neutral800: #364141;
$neutral900: #273333;
$neutral1000: #162020;
$neutral1100: #040404;
$neutral1200: #000000;

// Network Colors
$twitter: #1DA1F2;
$facebook: #3B5998;
$messenger: #0084FF;
$instagram: #E4405F;
$linkedin: #0076B7;
$googleplus: #DB4437;
$youtube: #FF0000;
$pinterest: #BD081C;

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText"), local(".HelveticaNeueDeskInterface"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

.twitter {
  color: $twitter;
}
.facebook {
  color: $facebook;
}
.messenger {
  color: $messenger;
}
.instagram {
  color: $instagram;
}
.linkedin {
  color: $linkedin;
}
.googleplus {
  color: $googleplus;
}
.youtube {
  color: $youtube;
}
.pinterest {
  color: $pinterest;
}

body, ul, li {
	margin: 0px;
  padding: 0px;
  list-style: none;
}
body { 
  font-family: system;
	color: $neutral800;
  background: $neutral100;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #2079C3;
  font-weight: 700;
  &:hover {
    color: #0D62A9;
  }
}
h1, h2, h3, h4, h5 {
  font-weight: 700;
  padding: 0;
  margin: 0;
}
h1, h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 13px;
}

.rotate-45 {
  transform: rotate(-45deg);
}
.rotate-90 {
  transform: rotate(-90deg);
}
.rotate-half {
  transform: rotate(180deg);
}

.col-2 .col {
  width: 49.6%;
}
.col-3 .col {
  width: 33%;
}
.col-4 .col {
  width: 24.6%;
}
.col-5 .col {
  width: 19.6%;
}
.col-6 .col {
  width: 16.4%;
}

.tab-group {
  height: 32px;
  background: $neutral200;
  border-radius: 8px;
  padding: 4px;
  overflow: hidden;
  & .tab {
    float: left;
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 32px;
    color: $neutral800;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #2079C3;
    }
    &.active {
      color: #2079C3;
      line-height: 30px;
      background: $neutral0;
      border: 1px solid $neutral200;
      border-radius: 6px;
      box-shadow: 0px 2px 4px rgba(22,32,32,.2);
      &:hover {
        cursor: default;
      }
    }
  }
}

.actions-row {
  float: left;
  width: 100%;
  overflow: hidden;
  & .item {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 100px;
    padding: 8px;
    //margin-right: 8px;\
    cursor: pointer;
    &:hover {
      background: $neutral100;
    }
    & div {
      width: 16px;
      height: 16px;
      background: $neutral800;
      border-radius: 4px;
      margin: 8px;
    }
  }
  & .character-count {
    float: right;
    font-size: 13px;
    line-height: 48px;
    color: $neutral600;
    margin-right: 16px;
  }
}

.layout {
	display: flex;
  justify-content: space-between;
	height: 100vh;
	width: 100vw;
}
.content {
  flex-grow: 2;
  padding: 0 16px 16px 16px;
  overflow-y: scroll;
}

.primary-button { 
  display: block;
  width: 100%;
  height: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: $neutral0;
  background: #2079C3;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  &:hover {
    color: $neutral0;
    background: #0D62A9;
  }
}
.icon-button {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 100px;
  padding: 8px;
  cursor: pointer;
  &:hover {
    background: $neutral100;
  }
}



// FORM ELEMENTS
// ========================================================================================================
// ========================================================================================================
input {
  outline: 0;
  &:focus {
    border: 1px solid #2079C3;
    box-shadow: 0px 2px 4px rgba(43,135,211,.56);
    transition: all .15s ease-in-out;
  }
  &:placeholder-shown {
    font-style: italic;
  }
}
.input {
  border: 1px solid $neutral400;
  border-radius: 4px;
  box-shadow: inset 0px 0px 8px 0px rgba(22,32,32,.2);
  padding: 0 15px;
  transition: all .15s ease-in-out;
  &.input-default {
    height: 38px;
    font-size: 13px;
    line-height: 38px;
  }
  &.no-border-default {
    height: 40px;
    line-height: 40px;
    border: none;
    box-shadow: none;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
  &.input-large {
    height: 46px;
    font-size: 16px;
    line-height: 46px;
  }
  &.no-border-large {
    height: 48px;
    line-height: 48px;
    border: none;
    box-shadow: none;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

.search {
  display: block;
  float: left;
  overflow: hidden;
  & .search-icon, .input {
    float: left;
  }
  & .search-icon {
    font-size: 16px;
    color: $neutral500;
  }
  &.search-large .search-icon {
    line-height: 48px;
  }
}

:checked + label::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid $neutral400;
}
:checked + label::after {
  display: block;
  position: absolute;
  top: 0.2rem;
  left: 0.375rem;
  width: 0.25rem;
  height: 0.5rem;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  content: '';
}



// LEFT PANNEL
// ========================================================================================================
// ========================================================================================================

.left-pannel {
  position: absolute;
  top: 0;
  left: 0;
  //display: none;
  width: 640px;
  height: 100vh;
  background: $neutral0;
  box-shadow: 0 0 32px rgba(22,32,32,.2);
  z-index: 1000;
  transform: translateX(0);
	transition: all .15s ease-in-out;
  & .pannel-close {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: $neutral900;
    border-radius: 100px;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    //border-radius: 4px;
    &:hover {
      color: $neutral900;
      background: $neutral100;
      transition: all .15s;
    }
  }
}

.pannel-reset {
	transform: translateX(-640px);
	transition: all .15s ease-in-out;
}

.pannel-content {
  float: right;
  height: 100vh;
  width: 552px;
  margin-right: 24px;
  overflow-y: scroll;
  & h2.pannel-title {
    margin: 22px 0 24px 0;
  }
}


// WORKSPACE SELECT
#workspace-select { 
  display: none;
  & {
    .workspace-group + .workspace-group {
      margin-top: 32px;
    }
  }
  & h3 {
    font-size: 13px;
    font-style: italic;
    color: $neutral600;
    margin-bottom: 8px;
  }
  .workspace {
    display: block;
    border: 1px solid $neutral200;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 8px;
    overflow: hidden;
    & .workspace-image {
      float: left;
      width: 32px;
      height: 32px;
      line-height: 32px;
      background: $neutral300;
      border-radius: 4px;
      margin-right: 16px;
    }
    & .workspace-info {
      float: left;
      & h4 {
        font-size: 13px;
        color: $neutral900;
        margin-bottom: 3px;
      }
      & p {
        font-size: 11px;
        color: $neutral600;
        padding: 0;
        margin: 0;
      }
    }
    &:hover {
      border: 1px solid $neutral300;
      box-shadow: 0px 2px 4px rgba(22,32,32,.2);
    }
    &.active {
      border: 1px solid #2079C3;
      box-shadow: 0px 2px 4px rgba(43,135,211,.56);
    }
  }
}


// SEARCH
#search {
  display: none;
  & input {
    width: 100%;
    margin: 8px 0 24px;
  }
}


// NOTIFICATIONS
#notifications {
  display: none;
  & .tab-group {
    float: left;
    width: 98.8%;
    margin: 12px 0;
  }
}


// COMPOSE
#compose {
  display: none;
  & .tab-group {
    float: left;
    width: 360px;
    margin: 12px 0;
  }
  & .compose-box {
    clear: both;
  }
}

.compose-box, .reply-box {
  border: 1px solid $neutral200;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 24px;
  overflow: hidden;
  &:hover {
    box-shadow: 0px 2px 4px rgba(22,32,32,.2);
  }
  &.active {
    border: 1px solid #2079C3;
    box-shadow: 0px 2px 4px rgba(43,135,211,.56);
  }
  & .profile-picker {
    height: 30px;
    border: 1px solid $neutral200;
    border-radius: 100px;
    padding: 4px;
    margin: 8px;
    overflow: hidden;
    &:hover {
      border: 1px solid $neutral300;
      box-shadow: 0px 2px 4px rgba(22,32,32,.2);
      cursor: pointer;
    }
    & .profile-image { 
      float: left;
      width: 30px;
      height: 30px;
      background: $neutral300;
      border-radius: 100px;
      margin-right: 12px;
    }
    & .network {
      float: left;
      line-height: 30px;
      margin-right: 8px;
    }
    & h4 {
      float: left;
      font-size: 16px;
      color: $neutral900;
      line-height: 30px;
      margin-right: 4px;
    }
    & .handle {
      font-size: 11px;
      color: $neutral600;
      line-height: 33px;
    }
    & .carrot {
      float: right;
      font-size: 13px;
      line-height: 32px;
      color: $neutral900;
      margin-right: 16px;
    }
  }
  & .message-input {
    min-height: 32px;
    margin: 0 16px 8px 16px;
    & .input {
      width: 100%;
      padding: 0;
    }
  }
}





// MAIN NAV
// ========================================================================================================
// ========================================================================================================

.main-nav {
	display: flex;
	flex-direction: column;
	background: $neutral900;
	width: 64px;
  & .branding, .workspace {
    display: block;
    width: 32px;
    height: 32px;
  }
  & .branding {
    background: #59CB59;
    border-radius: 12px 0;
    margin: 16px;
  }
  & .workspace {
    position: relative;
    color: $neutral0;
    background: #C44EB9;
    border-radius: 4px;
    line-height: 32px;
    text-align: center;
    margin: 16px 16px 24px 16px;
    cursor: pointer;
    &:hover {
      background: #8F3896;
    }
    & .tooltip {
      display: none;
      position: absolute;
      top: 0;
      left: 56px;
      font-size: 13px;
      font-weight: 700;
      line-height: 30px;
      white-space: nowrap;
      color: $neutral0;
      height: 30px;
      background: $neutral900;
      box-shadow: 0px 2px 16px rgba(22,32,32,.5);
      border: 1px solid $neutral1100;
      border-radius: 100px;
      padding: 0 16px;
      z-index: 99;
    }
  }
  & ul {
    margin: 0;
    padding: 0;
    & li {
      position: relative;
      list-style: none;
      margin: 0 8px;
    }
  }
  & ul.user-actions {
    position:absolute;
    bottom:0;
  }
  & a, .action {
    display: block;
    border-radius: 100px;
    list-style: none;
    //padding: 16px;
    & .item {
      display: block;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      color: $neutral0;
      padding: 8px;
      //border-radius: 4px;
      &:hover {
        color: $neutral0;
      }
    }
    & .tooltip {
      display: none;
      position: absolute;
      top: 8px;
      left: 64px;
      font-size: 13px;
      font-weight: 700;
      line-height: 30px;
      white-space: nowrap;
      color: $neutral0;
      height: 30px;
      background: $neutral900;
      box-shadow: 0px 2px 16px rgba(22,32,32,.5);
      border: 1px solid $neutral1100;
      border-radius: 100px;
      padding: 0 16px;
      z-index: 99;
    }
  }
  & a:hover, .action:hover {
    background: $neutral1000;
    transition: all .15s;
    cursor: pointer;
  }
  & a.active {
    background: rgba(43,182,86,.2);
    & .item {
      color: #59CB59;
    }
  }
  & .user {
    display: block;
    width: 32px;
    height: 32px;
    background: $neutral600;
    border-radius: 12px 0;
    padding: 0;
    margin: 8px 8px 16px;
    &:hover {
      background: $neutral600;
    }
    & .tooltip {
      top: 0;
    }
  }
}



// SECONDARY NAV
// ========================================================================================================
// ========================================================================================================

.secondary-nav {
  position: relative;
	display: flex;
	flex-direction: column;
	width: 240px;
  min-width: 240px;
	background: $neutral0;
	border-right: 1px solid $neutral200;
  overflow: hidden;
  & .secondary-nav-actions {
    position: absolute;
    width: 100%;
    bottom: 0;
    & .trial-help {
      display: block;
      height: 24px;
      font-size: 13px;
      font-style: italic;
      font-weight: 300;
      line-height: 24px;
      text-align: center;
      color: $neutral800;
      background: $neutral200;
      border-radius: 12px;
      margin: 16px;
      &:hover {
        background: $neutral300;
      }
    }
    & .add-new {
      display: block;
      height: 63px;
      color: #2B87D3;
      font-size: 13px;
      font-weight: 700;
      line-height: 63px;
      border-top: 1px solid $neutral200;
      padding: 0 16px;
      &:hover {
        color: #0D62A9;
      }
      & i {
        padding-right: 8px;
      }
    }
  }
}

.sec-staging {
	width: 480px;
	display: flex;
}

.nav-list {
	min-width: 240px;
	box-sizing: border-box;
}

.list-item {
  display: block;
	padding: 8px;
	font-size: 13px;
	border-radius: 6px;
  color: $neutral800;
	font-weight: 700;
  text-decoration: none;
	margin: 0px 0px 8px 0px;
	cursor: pointer;
	&:hover {
    color: $neutral800;
		background: $neutral100;
		transition: all .15s;
	}
}

.slide {
	transform: translateX(-240px);
	transition: all .2s ease-in-out;
}

.reset {
	transform: translateX(0px);
	transition: all .2s ease-in-out;
}

.arrow {
  font-size: 11px;
  line-height: 16px;
}
.back .arrow {
  margin: 0 8px 0 0;
}

.back-container {
	border-bottom: 1px solid $neutral200;
	padding: 16px 16px 8px 16px;
}

.list-container {
	padding: 16px;
}

.group {
	display: flex;
	justify-content: space-between;
	&:hover {
		.a-hidden {
			opacity: 1;
			transition: all .15s; 
		}
	}
}

.a-hidden {
	opacity: 0;
}

.active-list {
	background: $neutral0;
	color: #2B87D3;
	box-shadow: 0px 2px 4px rgba(22,32,32,.2);
	border: 1px solid $neutral200;
	padding: 7px;
	&:hover {
    color: #2B87D3;
		background: $neutral0;
		cursor: default;
	}
}



// FILTER BAR
// ========================================================================================================
// ========================================================================================================

.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  flex-basis: 63px;
  min-width: 63px;
  transition: flex-basis .15s;
  overflow: hidden;
  white-space: nowrap;
  height: 100vh;
  background: $neutral0;
  border-left: 1px solid $neutral200;
  &.filters-open {
    flex-basis: 340px;
  }
  & ul.page-actions {
    list-style: none;
    width: 100%;
    & li { 
      margin-top: 8px;
      width: 100%;
      & .icon-button {
        border-radius: 0;
        margin: 0 8px;
      }
      & .primary-button {
        border-radius: 0;
      }
    }
    & .links-icon .icon-button { 
      border-radius: 100px;
    }
    & .links-full {
      text-align: center;
      margin: 16px 0;
      & a {
        font-size: 13px;
      }
    }
  }
}
.filters-head {
  //display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  margin: 8px 8px 8px 7px;
  &:hover {
    background: $neutral100;
    border-radius: 999px;
    cursor: pointer;
  }
  & .icon {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    //background: #364141;
    border-radius: 4px;
    margin: 16px;
    &:hover {
      //background: #364141;
    }
  }
  & .filter-title-arrow {
    float: right;
    font-size: 11px;
    line-height: 48px;
    margin-right: 16px;
  }
}

.filter-title {
  font-size: 13px;
  line-height: 48px;
}

.share-text {
  display:inline;
  font-family: system;
  font-weight:700;
}

.shown {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.options {
  //height: 100vh; was causing the .filters-head to not be correct hieght
  height: calc(100% - 128px);
  overflow-y: auto;
  & .options-header {
    display: block;
    height: 39px;
    line-height: 39px;
    border-top: 1px solid $neutral200;
    padding: 0 24px 0 22px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      background: $neutral100;
      transition: background .2s;
    }
    & h3 {
      float: left;
      font-size: 13px;
      font-weight: 700;
      color: $neutral900;
      & i {
        font-size: 16px;
        padding-right: 8px;
      }
      & .twitter {
        color: $twitter;
      }
      & .facebook {
        color: $facebook;
      }
      & .instagram {
        color: $instagram;
      }
      & .linkedin {
        color: $linkedin;
      }
      & .googleplus {
        color: $googleplus;
      }
      & .pinterest {
        color: $pinterest;
      }
    }
    & .carrot {
      float: right;
      font-size: 13px;
      line-height: 39px;
      color: $neutral900;
    }
  }
  & .options-group {
    display: block;
    padding: 16px 12px 32px 12px;
    & .options-list {
      & li {
        font-size: 13px;
        color: $neutral900;
        line-height: 24px;
        border-radius: 6px;
        padding: 4px 8px;
        cursor: pointer;
        &:hover {
          background: $neutral100;
          transition: background .2s;
        }
        & input {
          margin-right: 8px;
        }
      }
      & li.options-title {
        font-weight: 700;
        font-style: italic;
        color: $neutral600;
      }
      
    }
    & .options-list + .options-list {
      margin-top: 20px;
    }
  }
}



// MESSAGE STREAM
// ========================================================================================================
// ========================================================================================================

.stream-toolbar {
  width: 100%;
  max-width: 736px;
  margin: 8px auto;
  overflow: hidden;
  & .icon-button {
    float: left;
    margin-right: 16px;
    &:hover {
      background: $neutral200;
    }
  }
  & .search .input {
    background: none;
  }
}



// LOADING STYLES
// ========================================================================================================
// ========================================================================================================

.loader {
  display: block;
  height: auto;
  width: 100%;
  background: linear-gradient(270deg, $neutral200, $neutral300, $neutral400, $neutral200);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
  @-webkit-keyframes AnimationName {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
  }
  @keyframes AnimationName { 
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
  }
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.text {
  height: 8px;
  border-radius: 8px;
  &.large {
    width:100%;
  }
  &.large-alt {
    width: 80%;
  }
  &.medium {
    width: 30%;
    min-width: 182px;
  }
  &.small {
    width: 15%;
    min-width: 72px;
  }
  &.extra-small {
    width: 5%;
    min-width: 40px;
  }
}
.icon {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.message {
  width: 100%;
  max-width: 736px;
  background: $neutral0;
  border: 1px solid $neutral200;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(39,51,51,0.16);
  -moz-box-shadow: 0px 2px 4px 0px rgba(39,51,51,0.16);
  box-shadow: 0px 2px 4px 0px rgba(39,51,51,0.16);
  margin: 0 auto;
  & .msg-header {
    border-bottom: 1px solid $neutral200;
    padding: 12px 16px 11px;
    overflow: hidden;
    & .profile {
      float: left;
      margin-right: 16px;
    }
    & .msg-info {
      float: left;
      margin-top: 6px;
      & .text + .text {
        margin-top: 12px;
      }
    }
  }
  & .msg-body {
    padding: 16px;
    overflow: hidden;
    & .text + .text {
      margin-top: 12px;
    }
    & .actions {
      overflow: hidden;
      margin: 24px 0 4px 0;
      & ul.main, ul.secondary {
        float: left;
        overflow: hidden;
        & li {
        float: left;
        margin: 0 24px 0 0;
        }
      }
      & ul.secondary {
        float: right;
        & li {
          margin: 0 0 0 24px;
        }
      }
    }
  }
}
.message + .message {
  margin-top: 8px;
}